emissor
cltl.emissor-data[service,client] @ git+https://github.com/leolani/cltl-emissor-data@683945eabbda5d320cf15ce25831ad7349416e27
cltl.context[service] @ git+https://github.com/leolani/cltl-context@bac44b08818c39d0201460f5b814ef8ab1073eb2
cltl.backend[host,service,impl] @ git+https://github.com/leolani/cltl-backend@e604a929d498c325bd7fcc1944ed64646dbc5907
cltl.vad @ git+https://github.com/leolani/cltl-vad@c340a239facc0c22c0b82b4cefec0e4db5f61582
cltl.asr[impl,service,whisper] @ git+https://github.com/leolani/cltl-asr@99df4e7ae0bc72f78365254f1a058800a53d1007
cltl.combot[service] @ git+https://github.com/leolani/cltl-combot@6ff0310a1d80f48b6c819567eef60221c0dfd2f5
cltl.chat-ui[service] @ git+https://github.com/leolani/cltl-chat-ui@4c891f844a1d22480d342a16c21e8afc4e446894
cltl.llm[service] @ git+https://github.com/leolani/cltl-llm@2b3c1925cef17c063ac647d73ceeb3bf8a3d2120

# Voice Recognition/Generation
webrtcvad==2.0.10
openai-whisper==20230314

# NN
transformers==4.16.0
tokenizers==0.11.6
torch==1.13.1
#torchvision 14.x is the last compatible with torch 1.x
cffi==2.0.0
jiwer==2.6.0

# LLM
openai==2.3.0
ollama==0.6.0
langchain.ollama==0.3.10

# Numerics
scikit-learn==1.0.2
scipy==1.8.0
numpy==1.24.2
matplotlib==3.7.1

# Audio/Video
clang==11.0
PyAudio==0.2.13
# Pillow==8.0.1
# TODO fix backend
opencv-python==4.8.0.76
pyobjc==9.2;sys_platform=='darwin'
sounddevice==0.4.2
soundfile==0.10.3.post1
speechbrain==0.5.10

# RDF support
iribaker==0.2
rdflib==6.1.1
SPARQLWrapper==1.8.5

# Utils
cachetools==4.2.4
fuzzywuzzy==0.18.0
pycountry==20.7.3
reverse-geocoder==1.5.1

# REST/JSON/Messaging support
Flask==1.1.2
Werkzeug==2.0.3
tornado==5.1.1
jinja2==3.0.3
connexion==2.7.0
marshmallow==3.13.0
marshmallow-dataclass==8.4.1
marshmallow-enum==1.5.1
marshmallow-union==0.1.15.post1
typeguard==2.13.3
apispec[yaml]==4.0.0
asyncapi==0.14.0
PyYAML==5.3.1
typer==0.9.4
uvicorn== 0.35.0
apidaora==0.28.0
markdown==3.3.3
kombu==5.0.2
simplejson==3.17.5
jsonpickle==2.1.0
itsdangerous==2.0.1

# Python
importlib_resources==5.2.2
mock==4.0.3
parameterized==0.8.1
tqdm==4.62.3

# Docker
python_on_whales==0.78.0
pydantic==2.11.9

# Others
jellyfish==0.9.0

# Installation
wheel==0.40.0
setuptools-rust==1.7.0
setuptools_scm==8.0.4
setuptools==65.1.1
