[cltl.llm]
model: $CLTL_LLM
url: $OLLAMA_HOST
instruction: "You are a medical robot. You will have an extensive conversation with an elderly person. You first ask for his or her name and you address the person with his or her name. Answer in short sentences with no more than 15 words."
intro: "Hi, I am Leolani and I want to help you. I listen to what you tell me and give medical advice. Tell be about yourself. Who are you?"
stop: "It was great talking to you. See you soon!"
temperature:0.9
max_history: 15
topic_input: cltl.topic.text_in
topic_output: cltl.topic.text_out
topic_scenario : cltl.topic.scenario

[cltl.event]
implementation: kombu

[cltl.event.kombu]
# For local development with Docker Compose
# server: amqp://cltl:cltl123@rabbitmq:5672/
# For local development without Docker (uncomment below and comment above)
server: amqp://eliza:eliza123@localhost:5672/
exchange: cltl.combot
compression: bzip2
tenant:

[cltl.emissor-data]
path: ./storage/emissor

[cltl.emissor-data.event]
topics: cltl.topic.scenario,
        cltl.topic.image, cltl.topic.microphone,
        cltl.topic.text_in, cltl.topic.text_out,
        cltl.topic.vad,
        cltl.desire, cltl.intention

[cltl.event_log]
log_dir: ./storage/event_log

[app.context]
topic_scenario: cltl.topic.scenario
topic_intention: cltl.topic.intention
topic_desire: cltl.topic.desire

[app.server]
port: 8000
