emissor @ git+https://github.com/leolani/emissor@38e4dea46b462f06a0bf9297a26541318617836d
cltl.emissor-data[service,client] @ git+https://github.com/leolani/cltl-emissor-data@f6bbc721d5e5f9bedfc0ac8618e4b77ab290d206
cltl.combot[service] @ git+https://github.com/leolani/cltl-combot@2a8eacdec494b4b0ab8dca91f121ff8afaa868f2
cltl.about-agent[impl,service] @ git+https://github.com/leolani/cltl-about-agent@3016936e1b4378ca16c91abad5aae489c63c98ee
cltl.triple_extraction[conversational,service] @ git+https://github.com/leolani/cltl-knowledgeextraction@e488b55d0132f570f5be119dd8234d09cd1802a2
cltl.brain[service] @ git+https://github.com/leolani/cltl-knowledgerepresentation@07690b3d1e01595a14b2613bc0632d686bfae27e
cltl.reply_generation[llama,service] @ git+https://github.com/leolani/cltl-languagegeneration@764ea2d74a9acc57a37ec561478e62d3670136a2

# Eventually update the torch version in docker-app/app.Dockerfile!
# LLM
openai==2.3.0
ollama==0.6.0
langchain.ollama==0.3.10

# Numerics
scikit-learn==1.0.2
scipy==1.8.0
numpy==1.24.2
matplotlib==3.7.1

# Utils
cachetools==4.2.4
fuzzywuzzy==0.18.0
pycountry==20.7.3
reverse-geocoder==1.5.1

# REST/JSON/Messaging support
Flask==1.1.2
Werkzeug==2.0.3
tornado==5.1.1
jinja2==3.0.3
connexion==2.7.0
marshmallow==3.13.0
marshmallow-dataclass==8.4.1
marshmallow-enum==1.5.1
marshmallow-union==0.1.15.post1
typeguard==2.13.3
apispec[yaml]==4.0.0
asyncapi==0.14.0
PyYAML==5.3.1
typer==0.9.4
uvicorn== 0.35.0
apidaora==0.28.0
markdown==3.3.3
kombu==5.0.2
simplejson==3.17.5
jsonpickle==2.1.0
itsdangerous==2.0.1

# Python
importlib_resources==5.2.2
mock==4.0.3
parameterized==0.8.1
tqdm==4.62.3

# Docker
python_on_whales==0.78.0
pydantic==2.11.9

# Others
jellyfish==0.9.0

# Installation
wheel==0.40.0
setuptools-rust==1.7.0
setuptools_scm==8.0.4
setuptools==65.1.1
