[cltl.chat-ui]
name: chat-ui
agent_id: leolani
external_input: False
timeout: 0

[cltl.chat-ui.events]
local: True
topic_utterance: cltl.topic.text_in
topic_response: cltl.topic.text_out
topic_scenario : cltl.topic.scenario

[cltl.keyword]
intentions: chat
topic_intention: cltl.topic.intention
topic_desire: cltl.topic.desire
topic_text_in : cltl.topic.text_in
topic_text_out : cltl.topic.text_out

[cltl.intentions.init]
topic_scenario: cltl.topic.scenario
topic_intention: cltl.topic.intention
topic_desire: cltl.topic.desire
topic_text_in: cltl.topic.text_in
topic_text_out: cltl.topic.text_out
topic_face:
greeting: Do you want to talk to me?

[cltl.bdi]
topic_scenario: cltl.topic.scenario
topic_intention: cltl.topic.intention
topic_desire: cltl.topic.desire
model: {"init":
             {"initialized": ["chat"]},
         "chat":
             {"quit": ["init"]}
         }

[cltl.event]
implementation: kombu

[cltl.event.kombu]
server: amqp://cltl:cltl123@130.37.53.128:9001/
exchange: cltl.combot
compression: bzip2
tenant: $CLTL_TENANT

[cltl.emissor-data]
path: ./storage/emissor

[cltl.emissor-data.event]
topics: cltl.topic.scenario,
        cltl.topic.text_in, cltl.topic.text_out,
        cltl.desire, cltl.intention

[cltl.event_log]
log_dir: ./storage/event_log

[app.context]
topic_scenario: cltl.topic.scenario
topic_intention: cltl.topic.intention
topic_desire: cltl.topic.desire

[app.server]
port: 8000
